body {
    background-color: beige;
    color: rgb(108, 99, 236);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    border-style: dashed;
    border-color: coral;
}

form {
    display: table;
}

p {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}
